@import "variables";

.inputGroup {
  font-family: "Inter", sans-serif !important;
  position: relative;
}

.inputGroup input,
.inputGroup textarea {
  font-size: 14px;
  padding: 1em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
  transition: all 0.3s ease;
  resize: none;
  font-family: "Inter", sans-serif !important;
}

.inputGroup label {
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 6px;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup
  :is(input:focus, input:valid, textarea:focus, textarea:valid)
  ~ label {
  transform: translateY(-65%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding-inline: 3px;
  padding-block: 0px;
  background-color: white;
  color: $primary;
}

.inputGroup :is(input:focus, input:valid, textarea:focus, textarea:valid) {
  border-color: $primary;
}
